</div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var chatRoomId = {{chat_room_id}};
  var userId = {{user_id}};
	
	var userObj = {chat_room_id :chatRoomId,user_id:userId };
	
  socket.on('connect', function() {
	   // Connected, let's sign-up for to receive messages for this room
	   socket.emit('chatroom', userObj);
	});
	
	socket.on('handle_chat_message',function(obj){
	
		//Add new message to chat room panel
		//console.log(obj);
		
		//DOM manipulation
		var newUserMessage = $('#message-template').clone(true);
		newUserMessage.removeAttr('id');
		newUserMessage.find('.message-content').text(obj.message);
		newUserMessage.find('.username').text(obj.chatUser.cuName);
		newUserMessage.find('.datetime').text(obj.date_time);
		newUserMessage.find('.chat-image').attr('src','/img/'+obj.chatUser.cuProfileUrl);
		newUserMessage.appendTo($('#message-list')).fadeIn();
		
		scrollToBottomOfChatPanel();
	});
	
	socket.on('handle_logged_in_user',function(obj){
		//New user join the chat room
		//console.log(obj);
		var userId = obj.idChatUser;
		var username = obj.cuName;
		var profileURL = obj.cuProfileUrl;
		
		//DOM manipulation
		if($('#chat-user-'+userId).length === 0){
			var newUserOnline = $('#chat-user-template').clone(true);
			newUserOnline.removeAttr('id');
			newUserOnline.attr('id','chat-user-'+userId);
			newUserOnline.find('.member-login-username').text(username);
			newUserOnline.find('.online-image').attr('src','/img/'+profileURL);
			newUserOnline.appendTo($('#online-users')).fadeIn();
		}

	});

	socket.on('handle_user_left',function(obj){
		//Handle user logged out
	
		//console.log(obj);
		var loggedOutUserSelector = '#chat-user-'+obj.user_id;
		$(loggedOutUserSelector).fadeOut(function(){
			$(this).remove();
		});
	});
	
	$('#send-button').off('click').on('click',function(e){
		e.preventDefault();
		sendMessageBySocket();
		
	});
	
	$('#chat-message').on('keyup',function(e){
		e.preventDefault();
		if (e.keyCode == 13) {
			sendMessageBySocket();
		}
	});
	
	var sendMessageBySocket = function(){
		var messageObject = {};
		messageObject['user_id'] = userId;
		messageObject['chat_room_id'] = chatRoomId;
		messageObject['content'] = $('#chat-message').val();
		
		socket.emit('post_new_message', messageObject);
	}
	
	$(document).ready(function(){
		scrollToBottomOfChatPanel();
	});
	
	var scrollToBottomOfChatPanel = function(){
		var chatMessageContainer    = $('#chat-message-container');
	  var height = chatMessageContainer[0].scrollHeight;
	 chatMessageContainer.scrollTop(height);
	}
	
</script>