<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img id='star-wars-logo' src='/img/Star_Wars_logo.png'/></a>
		  <p class="navbar-text pull-right hidden-lg hidden-md hidden-sm" style='color:white;margin-right:10px'>Welcome: <span style='color:blue;font-weight:bold'>{{chatUser.cuName}}</span></p>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/chooseChatRoom">Chat</a></li>
          </ul>
		  <ul class="nav navbar-nav navbar-right">
		  <li class='hidden-xs'><p class="navbar-text" style='color:white'>Welcome: <span style='color:blue;font-weight:bold'>{{chatUser.cuName}}</span></p></li>
			<li> <a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">