<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#"><img id='star-wars-logo' src='/img/Star_Wars_logo.png'/></a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">