{{!-- peoplepartialhandlebars inside views/partials --}}
<h1>Famous California people </h1>
<table>
{{#each people}}
<tr><td>{{first}}</td><td>{{name}}</td>
<td>{{profession}}</td></tr>
{{/each}}
</table>