<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Star Wars Chat - Socket App</title> </head>
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/css.css" rel="stylesheet">
<body>
{{{body}}}
</body>
</html>