{{!-- people.handlebars inside views --}}
	{{> headerloginpartial}}
	<div class="row">
	<div class='col-lg-12'>
<h1>Chat Rooms </h1>

{{#if available_chat_rooms}}
<ul>

{{#each available_chat_rooms}}
	<li>
		<a href='/ChatRoom?chatRoomId={{idChatRoom}}' >{{crName}}</a>

	</li>
{{/each}}
</ul>
{{else}}
<p>No available chat rooms for the user</p>
{{/if}}
	{{> footerpartial}}
	</div>
	</div>