
{{!-- people.handlebars inside views --}}
	{{> headerpartial}}
	<div class="row">
	<div class='col-lg-12'>
<h1>Star Wars Socket Chat </h1>

<p>Thank you for having a look at this chat room site.  This is to demo nodejs using sockets to perform realtime operations.  Try talking to a friend or opening the app in another browser.</p>


<h3>Select User</h3>

<p>Please select a user to log into the chat room with.  Note each user can only access certain chat rooms...</p>
<ul>
{{#each chat_users}}
	<li>
		<form action='chooseChatRoom' method='POST' class='user-select-form'>
			<input type='hidden' name='user_id' value="{{user_id}}"/>
			<button class='btn btn-link'>{{username}}</button>
		</form>
	</li>
{{/each}}
</ul>

	{{> footerpartial}}
	</div>
	</div>