{{!-- people.handlebars inside views --}} 
{{> headerloginpartial}}
<div class="row" style="padding-top:40px;">
  <h3 class="text-center">{{chat_room_name}}</h3><br>
  <br>
  <div class="col-md-8">
    <div class="panel panel-info" id='chat-message-container'>
      <div class="panel-heading">
        CHAT HISTORY
      </div>
      <div class="panel-body">
        <ul class="media-list" id='message-list'>
          {{#each available_chat_room_messages}}
          <li class="media">
            <div class="media-body">
              <div class="media">
                <a class="pull-left" href="#"><img class="media-object img-circle chat-image" src="/img/{{user_chat_room.chat_user.dataValues.profile_url}}"></a>
                <div class="media-body">
                  {{message_content}}<br>
                  <small class="text-muted">{{user_chat_room.chat_user.dataValues.username}} | {{date_inserted}}</small>
                  <hr>
                </div>
              </div>
            </div>
          </li>
          {{/each}}
          <li class="media" id='message-template' style='display:none'>
            <div class="media-body">
              <div class="media">
                <a class="pull-left" href="#"><img class="media-object img-circle chat-image" src="assets/img/user.png"></a>
                <div class="media-body">
                  <span class='message-content'></span><br>
                  <small class="text-muted"><span class='username'></span> | <span class='datetime'></span></small>
                  <hr>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-footer">
      <div class="input-group">
        <input class="form-control" id='chat-message'  placeholder="Enter Message" type="text"> <span class="input-group-btn"><button class="btn btn-info" id='send-button' type="button"><span class="input-group-btn"><span style='font-size:11px' class="input-group-btn">SEND</span></span></button></span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        ONLINE USERS
      </div>
      <div class="panel-body">
        <ul class="media-list" id='online-users'>
          {{#each chat_users}}
          <li class="media" id='chat-user-{{user_id}}'>
            <div class="media-body" >
              <div class="media">
                <a class="pull-left" href="#"><img class="media-object img-circle" src="/img/{{chat_user.dataValues.profile_url}}" style="max-height:40px;"></a>
                <div class="media-body">
                  <h5>{{chat_user.dataValues.username}} | User</h5><small class="text-muted">Active</small>
                </div>
              </div>
            </div>
          </li>
          {{/each}}
          <li class="media" id="chat-user-template" style="display:none">
            <div class="media-body">
              <div class="media">
                <a class="pull-left" href="#"><img class="media-object img-circle online-image" src="assets/img/user.png" style="max-height:40px;"></a>
                <div class="media-body">
                  <h5><span class="member-login-username"></span> | User</h5><small class="text-muted">Active</small>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{> footersocketpartial}}