
{{!-- people.handlebars inside views --}}
	{{> headerpartial}}
	<div class="row">
	<div class='col-lg-12'>
<h1>Star Wars Socket Chat </h1>

<h3>Error: {{error_title}}</h3>
<p>Content: {{error_message}}</p>

	{{> footerpartial}}
	</div>
	</div>