body{
	padding-top:70px;
}

#star-wars-logo{
	display: inline-block;
    height: 40px;
    margin-top: -10px;
}

.panel-info{
	height:400px;
	overflow-y:scroll;
}

.chat-image{
	width:50px;
	height:50px;
}